# Ignorar todo por defecto
*

# Permitir archivos de configuración y documentación esenciales
!README.md
!LICENSE
!.gitignore

# Permitir únicamente archivos con extensión .css y demos HTML
!*.css
!demos/
!demos/*.html
